
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Verdana, Geneva, sans-serif;
}

#wrapper {
    width: 940px;
    margin: 20px auto 10px auto;
    padding: 20px;
    background: white;
    display: flow-root;
    border: #f2f2f2 solid;

}
.logo1 {
    display: block;
    margin-right: auto;
    padding-bottom: 15px;
}

.logo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.venue-left {
    float: left;
    width: 250px;
    margin-right: 20px;
    border: #00000078 double;
}

.venue-right {
    float: right;
    width: 200px;
    margin-right: 10px;
    border: black solid;
}

.mainIndex{
    width: 70%;
    float: left;
    margin: 20px 0;


}
footer {
    width: 940px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 8px;
    text-align: center;
    
}


p {
    line-height: 1.5em;
    padding-bottom: 1.5em;
    display: inline;
}

footer ul {
    list-style-type: none;
    margin: 0 25px 0 -20px;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
    background-color: rgb(45, 191, 191);


}
li {
    display: inline;
    padding-left: 2em;
    color: #551a8b;
    padding: 1em 1em;

}

aside {
    float: right;
    width: 30%;
    background-color: #f3f0f0;
    border: rgb(216, 216, 216)double;
    padding: 5px;
    margin: 29px 0;
}

form {
    max-width: 580px;
}

fieldset {
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-size: larger;
    color: rgb(156, 126, 87);
    font-weight: bold;
    font-family: inherit;
}
input {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

input[type=radio],
input[type=checkbox]{
    width: auto;
    height: auto;
    margin-right: 5px;
}
input[type=submit]{
    width: 100px;
    margin: 2px;
}

select {
    margin-bottom: 10px;
    padding: 3px;
}

textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

form ul{
    margin-left: 15px;
}
form li {
    list-style-type:none;
    font-size: small;
}

label {
    color: black;
    font-weight: bold;

}
.thanks {
    background-color: rgba(100, 89, 91, 0.94);
    margin-top: inherit;
    border: solid;
    padding: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0 -20px;
    font-size: 1.5em;

    background-color: rgb(251, 191, 20);
    text-decoration: none;
    font-weight: bold;

}
nav ul li a {text-decoration:none}
nav li {
    padding: 1em 0 1em 70px;
}

.special {
    float: right;
    width: 230px;
    margin: 20px 20px 0 0;
    border: #00000078 double;
}

.special2 {
    width: 230px;
    margin: 20px 20px 0 0;
    border: #00000078 double;
}
#primary li:hover .drop-down li a:hover {
    color: black;
    background: yellow;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    font-size: .7em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  

  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    background-color: bisque;
    border: #ced7de double;
  }
  


  

  .dropdown:hover .dropdown-content {display: block;}
  


  .specialdropdown {
    line-height: 40px;
  }